@import-normalsize;
*{
  margin: 0;
  padding: 0;
  ul,ol{
    list-style: none;
  }
  box-sizing: border-box;
}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
a{
  text-decoration: none;
  color: inherit;}